
.bg-primary-green {
    color: #ffffff;
    background-color: #075a20;
}

.bg-inverse-green {
    color: #075a20;
    background-color: #ffffff;
}

.logo {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin-right: .15em;
    background-color: #ffffff;
    color: transparent;
}
.logo>span {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

nav {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.navbar-brand>img {
    height: 1.5em;
    margin-top: -0.25em;
}

@media (min-width:576px) {
    .nav-item:first-of-type {
        border-left: 1px solid #ffffff;
    }
    .nav-item {
        border-right: 1px solid #ffffff;
    }
    .carousel-item>img {
        height: 75vh !important;
    }
}

.carousel {
    overflow: hidden;
    position: relative;
}
.carousel>* {
    z-index: 1;
}
.carousel-item>img {
    max-width: none;
    height: 50vh;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.carousel-control {
    visibility: hidden;
}
.carousel:hover .carousel-control {
    visibility: visible;
}

#carousel>.row {
    position: absolute;
    bottom: 5vh;
    width: 100%;
}
#carousel-overlay {
    background-color: rgba(60, 60, 60, .3);
    color: #ffffff;
    z-index: 2;
    border-radius: 5px;
    padding: 10px;
}

#carousel-overlay>h3>img {
    height: 1.25em;
    margin-top: -.25em;
}
